{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Cherkasov Kirill - {% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="vCard template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "main_app/styles/bootstrap-4.1.2/bootstrap.min.css" %}">
<link href="{% static "main_app/plugins/font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static "main_app/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" %}">
    {% endblock %}
</head>
<body>

<div class="super_container">

	<!-- Header -->
    {% block header %}
	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo">Kirill<span>.</span>CH</div>
			<div class="main_nav d-flex flex-row align-items-end justify-content-start">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li {% if page == 'about' %}class="active" {% endif %}><a href="/about/">About</a></li>
					<li {% if page == 'skills' %}class="active" {% endif %}><a href="/skills/">Skills</a></li>
					<li {% if page == 'services' %}class="active" {% endif %}><a href="/services/">Services</a></li>
					<li {% if page == 'experience' %}class="active" {% endif %}><a href="/experience/">Experience</a></li>
					<li {% if page == 'education' %}class="active" {% endif %}><a href="/education/">Education</a></li>
					<li {% if page == 'portfolio' %}class="active" {% endif %}><a href="/portfolio/">Portfolio</a></li>
					<li {% if page == 'testimonials' %}class="active" {% endif %}><a href="/testimonials/">Testimonials</a></li>
					<li {% if page == 'contact' %}class="active" {% endif %}><a href="/contact/">Contact</a></li>
				</ul>
				<div class="header_button ml-auto">
					<a href="#">Available for freelance work</a>
					<div class="d-flex flex-column align-items-center justify-content-center"><img src="{% static "main_app/images/download.png" %}" alt=""></div>
				</div>
			</div>
			<!-- Menu -->
	<div class="menu">
		<div class="menu_content d-flex flex-row align-items-start justify-content-end">
			<div class="hamburger ml-auto">menu</div>
			<div class="menu_nav text-right">
				<ul>
					<li><a href="/about/">About</a></li>
					<li><a href="/skills/">Skills</a></li>
					<li><a href="/services/">Services</a></li>
					<li><a href="/experience/">Experience</a></li>
					<li><a href="/education/">Education</a></li>
					<li><a href="/portfolio/">Portfolio</a></li>
					<li><a href="/testimonials/">Testimonials</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
		</div>
	</header>

    {% endblock %}

	<div class="content_container">
		<div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

			<!-- General Information -->
			<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
				<div>
					<div class="general_info_image">
						<div class="background_image" style="background-image:url({% static "main_app/images/smith.jpg" %})"></div>
						<div class="header_button_2">
							<a href="#">Available for freelance work</a>
							<div class="d-flex flex-column align-items-center justify-content-center"><img src="{% static "main_app/images/download.png" %}" alt=""></div>
						</div>
					</div>
				</div>
				<div class="general_info_content">
					<div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
						<div class="general_info_title">General Information</div>
						<ul class="general_info_list">
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="{% static "main_app/images/icon_1.png" %}" alt=""></div>
								<div class="general_info_text">Name: <span>Jeremy Smith</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"></div>
								<div class="general_info_text">Location: <span>London UK</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="{% static "main_app/images/icon_2.png" %}" alt=""></div>
								<div class="general_info_text">Date of Birth: <span>August 25, 1991</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="{% static "main_app/images/icon_3.png" %}" alt=""></div>
								<div class="general_info_text"><a href="mailto:contact@linque.com?subject=Job_Inquiry">contactme@templatename.com</a></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="{% static "main_app/images/icon_4.png" %}" alt=""></div>
								<div class="general_info_text">+76 6524 567862 763</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="{% static "main_app/images/icon_5.png" %}" alt=""></div>
								<div class="general_info_text"><a href="mailto:contact@linque.com">www.mytemplatename.com</a></div>
							</li>
						</ul>

						<!-- Social -->
						<div class="social_container">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Main Content -->
            {% block content %}
            {% endblock %}
		</div>


	</div>
<div align='center'>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>

{% block scripts %}
<script src="{% static "main_app/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "main_app/styles/bootstrap-4.1.2/popper.js" %}"></script>
<script src="{% static "main_app/styles/bootstrap-4.1.2/bootstrap.min.js" %}"></script>
<script src="{% static "main_app/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js" %}"></script>
<script src="{% static "main_app/plugins/easing/easing.js" %}"></script>
<script src="{% static "main_app/plugins/parallax-js-master/parallax.min.js" %}"></script>
<script src="{% static "main_app/js/custom.js" %}"></script>
{% endblock %}
</body>
</html>
