{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{block.super}}education
{% endblock %}
{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "main_app/styles/education.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "main_app/styles/education_responsive.css" %}">
{% endblock %}

			<!-- Main Content -->
{% block content %}

			<div class="main_content">
				<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
					<div class="main_subtitle">What I am good at</div>
					<div class="main_title">My Education</div>
				</div>
				<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
					
					<!-- Education -->

					<div class="education">
						{% for education in educations %}
						<!-- Education Item -->
						<div class="edu_item d-flex flex-lg-row flex-column align-items-start justfy-content-start">
							<div><div class="edu_year">{{education.end_date|date:"Y"}}</div></div>
							<!--<div><div class="edu_image"><img src="images/edu_1.png" alt=""></div></div>-->
							<div class="edu_content">
								<div class="edu_title_container">
									<div class="edu_title">{{education.name}}</div>
									<div class="edu_subtitle">{{education.speciality}}</div>
								</div>
								<div class="edu_text">
									<p>{{education.description}}</p>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>

				</div>
			</div>
{% endblock %}
{% block scripts %}
<script src="{% static "main_app/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "main_app/styles/bootstrap-4.1.2/popper.js" %}"></script>
<script src="{% static "main_app/styles/bootstrap-4.1.2/bootstrap.min.js" %}"></script>
<script src="{% static "main_app/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js" %}"></script>
<script src="{% static "main_app/plugins/easing/easing.js" %}"></script>
<script src="{% static "main_app/plugins/parallax-js-master/parallax.min.js" %}"></script>
<script src="{% static "main_app/js/education.js" %}></script>
{% endblock %}