{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{block.super}}experience
{% endblock %}
{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "main_app/styles/experience.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "main_app/styles/experience_responsive.css" %}">
{% endblock %}
{% block content %}
			<div class="main_content">
				<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
					<div class="main_subtitle">What I am good at</div>
					<div class="main_title">My Experience</div>
				</div>
				<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
					
					<!-- Experience -->

					<div class="experience">
						{% for work in works %}
						<!-- Experience Item -->
						<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div><div class="exp_time">{{work.start_time|date:"m.Y"}}-{% if work.end_time %}{{work.end_time|date:"m.Y"}} {% else %}now{% endif %}
							</div></div>
							<div class="exp_content">
								<div class="exp_title_container">
									<div class="exp_title">{{work.position}}</div>
									<div class="exp_subtitle">{{work.organization}}</div>
								</div>
								<div class="exp_text">
									<p>{{work.official_duties}}</p>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>

				</div>
			</div>
		{% endblock %}
{% block scripts %}
{{block.super}}
<script src="{% static "main_app/js/experience.js" %}"></script>
{% endblock %}